*{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(209, 207, 228);
}

.error{
    color: red;
}

a{
    text-decoration: none;
    color: rgb(165, 185, 199);
}

.subscript{
    font-size: 8pt;
}

div {
    margin-right: 20%;
    margin-left: 20%;
}